@use "../theme.scss" as *;
@use "../mixins.scss" as *;

.Chat {
  @include position(absolute, null, 0, 0, null);
  @include dimensions($chat-width);
  @include flexbox(column);
  @include p-style;
  padding: 10px;
  background: $chat-background;

  &__messages {
    max-height: $chat-messages-max-height;
    overflow-y: auto;
    border-radius: 5px;
    scroll-behavior: auto;

    div {
      padding: 5px;
      border-radius: 3px;
      text-align: left;
    }
  }

  &__input {
    margin-top: 10px;
    display: flex;
    height: $chat-input-height;

    input {
      flex: 1;
      background: red;
      @include border-style(1px, solid, $background-color-light, 3px);
      @include input-style(auto, 100%);
    }

    button {
      margin-left: 5px;
      cursor: pointer;
      @include border-style(1px, solid, $background-color-light, 3px);
      @include button-style(auto, 100%, $chat-send-button-background);
      padding: 0 10px;
    }
  }
}
