@use "../theme.scss" as *;
@use "../mixins.scss" as *;

.PlayerHud {
  @include position(absolute, 0, null, null, 0);
  z-index: 10;
  text-align: left;
  padding: 10px;

  &__stat {
    @include flexbox(column);
    margin-bottom: 10px;

    label {
      margin-bottom: 5px;
      @include label-style;
    }
  }

  &__bar {
    @include position(relative);
    @include dimensions($player-hud-bar-width, $player-hud-bar-height);
    @include border-style(1px, solid, #000, 5px);
    background-color: $background-color-dark;
    overflow: hidden;
    margin-bottom: 5px;

    &--health .PlayerHud__barInner {
      background-color: $player-hud-health-color;
    }

    &--mana .PlayerHud__barInner {
      background-color: $player-hud-mana-color;
    }

    &--experience .PlayerHud__barInner {
      background-color: $player-hud-experience-color;
    }

    .PlayerHud__barInner {
      @include dimensions(100%, 100%);
      transition: width 0.3s ease;
    }

    .PlayerHud__barText {
      @include position(absolute, 50%, null, null, 50%);
      transform: translate(-50%, -50%);
      white-space: nowrap;
      pointer-events: none;
      @include p-style;
    }
  }

  &__gold {
    margin-top: 10px;
    @include label-style;
  }
}
